<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <style>
        body {
            background-image: url("https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2851728749,2343107280&fm=11&gp=0.jpg");
        }
    </style>
</head>
<body>
<div class="row">
    <div class="col-sm-4 col-sm-offset-4"><h4>当前时间:{{ ctime }}</h4></div>
</div>
<div class="row">
    <div class="col-sm-4 col-sm-offset-4"><h4>登录状态:{{ flag }}</h4></div>
</div>
<form class="form-horizontal" role="form" action="/login/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row form-group">
        <label for="username" class="col-sm-3 control-label">Username:</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="username" name="username" placeholder="Username">
        </div>
    </div>
    <div class="row form-group">
        <label for="password" class="col-sm-3 control-label">Password:</label>
        <div class="col-sm-6">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-offset-3 col-sm-6">
            <button type="submit" class="btn btn-default">Login</button>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-offset-3 col-sm-6">
            <button type="button" class="btn btn-default" id="login_ajax">Login_Ajax</button>
        </div>
    </div>
</form>

<script>
    // 特点：异步请求，局部刷新
    $('#login_ajax').on('click', function () {
        $.ajax({
            url: '/login_ajax/',
            type: "POST",
            data: {
                'username': $('#username').val(),
                'password': $('#password').val(),
                // 'csrfmiddlewaretoken': $('[name="csrfmiddlewaretoken"]').val(),
                'csrfmiddlewaretoken': "{{ csrf_token }}",
            },
            success: function (data) {
                console.log(data, typeof data)
                if (typeof data ==='string') {
                    data = JSON.parse(data)
                }
                if (data['flag'].toLowerCase() === 'success!') {
                    alert('Login Success! Received Data:' + data['ctime'])
                    location.href='/user_management/'
                } else {
                    alert('Login Failure, Please enter Right password !')
                }
            }
        })
    })
</script>
<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <image src="/static/images/kugou.PNG" width="100%"></image>
        >
    </div>
</div>
</body>
</html>